<div class="col-lg-11">
  <div class="jumbotron">
  <h1 class="display-5">{{title}}</h1>

  <div class="row container-fluid">
    <div class="col-sm-12 text-center" >
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert" >
          {{errorMessage}}
        </div>
      </div>

      <form #searchForm="ngForm" (ngSubmit)="search()" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #keyword="ngModel" [(ngModel)]="searchWords" name="keywords" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button type="button" name="button" (click)="clearSearch()" class="btn btn-outline-primary">Clear</button>
      </form>
    </div>
  </div>

  <br>

  <div class="row container-fluid">
  <div class="col-sm-4" *ngFor="let city of cities">
    <div class="card" >
      <div class="card-header">
          <h3 class="col-sm-12 text-center">{{city.name}}</h3>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-sm-12">
            <p class="card-text text-center">
              <strong>{{city.temperature}} ºC</strong><br>
              <small>max: {{city.maxTemperature}} ºC, min: {{city.minTemperature}} ºC</small>
            </p>
            <p class="card-text text-center">
              <strong>{{city.mainWeather}}</strong><br>
              <small>{{city.weatherDescription}}</small>
            </p>
          </div>
        </div>

      </div>
      <div class="card-footer text-muted text-right">
        <button type="button" name="button" class="btn btn-outline-success" (click)="addCityToFavorites($event)" id="{{city._id}}">Like</button>


      </div>
    </div>
  </div>

</div>

</div>
</div>
